@model ProductListViewModel
@foreach (var item in Model.Data.Data)
{
    @Html.Partial("ProductSummary",item)
}
<div class="btn-group m-1" page-model="Model.Data.pageInfo" page-action="Index" page-classes-enabled="true" page-class="btn" page-class-normal="btn-outline-dark" page-class-selected="btn-success"></div>