@model Product

<div class="card cardbtn-outline-secondary m-1 p-1">
    <h4>
        @Model.Name<span>
            <small>
                @Model.Price
            </small>
        </span>
        <p>@Model.Description</p>
    </h4>
</div>